name: Haskell CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: stack setup
    - name: Build
      run: stack build
    - name: Run tests
      run: |
        export PATH="$(dirname "$(stack exec -- which ghc)"):$PATH"
        make test
